* {
  background-color: black;
}
body {
  color: aquamarine;
}

button {
  background-color: dodgerblue;
  border: solid chartreuse;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  border-radius: 6px;
  /* padding: 1px 8px; */
  font-size: 16px;
  cursor: pointer;
}
.placeholder {
  background-color: black;
  padding: auto;
}
input {
  color: dodgerblue;
  font-size: 1em;
}
div.input-container {
  display: flex;
  justify-content: center;
  height: 45px;
  margin: 0 auto;
}
h1 {
  color: fuchsia;
  text-align: center;
  font-family: Fascinate;
  font-size: 3.7em;
  text-shadow: 2px 4px 4px dodgerblue;
}
h2 {
  color: dodgerblue;
  font-family: "Squada One", cursive;
  font-size: 2em;
  text-align: center;
}
h3 {
  color: red;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
}

#board {
  color: red;
  display: grid;
  font-size: 1.1em;
  font-family: "Fascinate";
  margin: 0 auto;
  align-content: center;
  width: 400px;
  height: 400px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  cursor: pointer;
  position: relative;
}

.cell {
  border-color: chartreuse;
  border-style: solid;
  border-spacing: 1px;
  border-radius: 14px;
  font-size: 5.5em;
  font-family: "Fascinate";
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
#a1 #d1 #g1 {
  border-left: none;
}

.wrapper {
  height: 45px;
  justify-content: center;
  margin: 0 auto;
}
form.form-example {
  display: table;
}

div.form-example {
  display: table-row;
}

label,
input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}
.players {
  flex: auto;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}
.gamers {
  display: flex;
  align-items: center;
  justify-content: center;
}
